﻿@model CodeChallenge.Core.Models.CustomerNamesModel

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="~/js/InterestRateController.js"></script> 

<div>
    <hr>
    <div ng-app="InterestRate">
        <div ng-controller="InterestRateCtrl" ng-init="init()">
            <div class="container" ng-cloak>   
                <div class="row">
                    <select id="CustomerSelect" name="CustomerSelect" ng-model="selectedCustomer" ng-init="customer.personalid = customer.personalid"
                            ng-options="customer.name+' '+customer.surname for customer in customers" ng-change="customerSelected()"
                            class="form-control" required>
                        <option value="">Please select customer</option>
                    </select>
                </div>
                <div class="row">
                    <select id="AgreementSelect" name="AgreementSelect" ng-model="selectedAgreement" ng-init="agreement.id = agreement.id" ng-show="showAgreementsSelect"
                            ng-options="agreement.baseratecode+' '+agreement.amount for agreement in customer.agreements" ng-change="agreementSelected()"
                            class="form-control" required>
                        <option value="">Please select agreement</option>
                    </select>
                </div>
                <div class="row">
                    <select id="BaseRateSelect" name="BaseRateSelect" ng-model="selectedNewBaseRate" ng-init="baseRateCode.id = baseRateCode.id" ng-show="showBaseRateCodesSelect"
                            ng-options="baseRateCode.code for baseRateCode in baseRateCodes" ng-change="newBaseRateSelected()"
                            class="form-control" required>
                        <option value="">Please select new base rate</option>
                    </select>
                </div>

                <div class="form-group">
                    <div ng-hide="!showCustomerDetails">
                        <h2>Customer:</h2>
                        <h4>Id: {{customer.personalId}}</h4>
                        <h4>Name: {{customer.name}}</h4>
                        <h4>Surname: {{customer.surname}}</h4>
                    </div>
                    <div ng-hide="!showAgreementDetails">
                        <h2>Agreement:</h2>
                        <h4>BaseRateCode: {{selectedAgreement.baseRateCode}}</h4>
                        <h4>Amount: {{selectedAgreement.amount}}</h4>
                        <h4>Margin: {{selectedAgreement.margin}}</h4>
                        <h4>Duration: {{selectedAgreement.duration}}</h4>
                    </div>
                    @{
                        if (ViewData["Error"] != null)
                        {
                            <h2>@ViewData["Error"]</h2>
                        }
                        else
                        {
                            <div ng-hide="!showInterestRatesDetails">
                                <h2>Interest rates:</h2>
                                <h4>Current interest rate: {{currentInterestRate}}</h4>
                                <h4>Preview of new interest rate: {{newInterestRate}}</h4>
                                <h4>Difference: {{InterestRateDifference}}</h4>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>